section.contact-section
  .inner
    .contact-form-wrapper
      h2 Contact
      .contact-form
        form
          .form-item
            label(for="name") Name
            input(type="text" name="name" id="name")
          .form-item
            label(for="email") Email
            input(type="email" name="email" id="email")
          .form-item
            label(for="message") Message
            textarea(name="message" id="message")
          .form-item
            input(type="submit" name="submit" id="submit" value="Submit")
    .contact-map#map-container

